<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="./stylesheets/style.css"/>
</head>
<body>
    <div id="todoapp">
        <header>
            <h1>Todo List</h1>
            <form id="new-from" onsubmit="return addTodoItem()">
                <input id="new-todo" type="text" placeholder="What needs to be done?" autocomplete="off"/>
            </form>
        </header>

        <ul id="todo-list">

        </ul>

        <footer style="display: block;">
            <div id="todo-count" class="todo-count">aaa</div>
        </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script>
        // todo 리스트 출력
        var TodoItem = Backbone.Model.extend({
            url:'/todos'
        });

        var TodoList = Backbone.Collection.extend({
            url:'/todos'
        });

        var TodoView = Backbone.View.extend({
            tagName: 'li',
            template: _.template('<div class="view"> <input class="toggle" type="checkbox"> <label><%= description %></label> <a class="destroy"></a></div>'),
            reander: function(){
                var attributes = this.model.toJSON();
                $(this.el).html(this.template(attributes));
                return this;
            },
            events:{
                "click a" : "destroyTodo"
            },
            destroyTodo: function(e){
                this.model.destroy();
                this.remove();
            },
            remove: function(){
                this.$el.remove();
            }
        })

        var TodoListView = Backbone.View.extend({
            initialize: function(){
              this.collection.on('reset', this.addAll(), this);
            },
            reander: function(){
                this.addAll();
            },
            addOn: function(todoItem){
                var todoView = new TodoView({model:todoItem});
                this.$el.append(todoView.reander().el);
            },
            addAll: function(){
                this.collection.forEach(this.addOn, this);
            },
            remove: function(){
                this.$el.html('');
            }
        });

        var todoList = new TodoList();
        var todoListView = new TodoListView({collection:todoList});
        getTodoItem();

        function getTodoItem(){
            todoList.fetch({
                success: function(){
                    todoListView.remove();
                    todoListView.reander();
                    $("#todo-list").html(todoListView.el);
                    $("#todo-count").text(todoList.length + " items left");
                }
            });
        }

        // todo 추가
        function addTodoItem(){
            var todoText = $('#new-todo');

            var todoItem = new TodoItem({description: todoText.val(), status: 'incomplete'});
            todoItem.save();
            getTodoItem();

            todoText.val('');
            return false;
        }
    </script>
</body>
</html>