<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="app">

    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script>
        // todo 리스트 출력
        var TodoList = Backbone.Collection.extend({
            url:'/todos'
        });

        var TodoView = Backbone.View.extend({
            template: _.template('<input type=checkbox /><%= description %>'),
            reander: function(){
                var attributes = this.model.toJSON();
                $(this.el).html(this.template(attributes));
                return this;
            }
        })

        var TodoListView = Backbone.View.extend({
            reander: function(){
                this.collection.forEach(this.addOn, this);
            },
            addOn: function(todoItem){
                var todoView = new TodoView({model:todoItem});
                this.$el.append(todoView.reander().el);
            }
        });

        var todoList = new TodoList();
        var todoListView = new TodoListView({collection:todoList});
        todoList.fetch({
            success: function(){

                todoListView.reander();
                $("#app").html(todoListView.el);

                // TestLog
                todoList.forEach(function(todoItem){
                    console.log(todoItem.get('description'));
                });
            }
        });

    </script>
</body>
</html>